@model QuestionModel

@{
    ViewData["Title"] = "Resposta";
}

<div class="row">
    <a style="margin-left: -30px; cursor: pointer;" class="nav-link text-dark" onclick="window.history.go(-1); return false;"><b style="color:blue">Voltar</b></a>
</div>
<br />
<div class="row">
    <div class="col-12">
        <h4>Responda a pergunta - @Model.Title</h4>
    </div>
    <div class="col-12">
        <br />
        <form name="AnswerForm">
            <div class="form-group">
                <label for="inputTituloResposta">Título</label>
                <input type="text" class="form-control"
                       id="inputTituloResposta"
                       name="Answers[0].Title"
                       placeholder="Título da resposta"
                       required>
            </div>
            <div class="form-group">
                <label for="inputCorpoResposta">Corpo</label>
                <textarea class="form-control" rows="15"
                          id="inputCorpoResposta"
                          name="Answers[0].Body"
                          required></textarea>
            </div>

            <input type="hidden" name="Title" value="@Model.Title" />
            <input type="hidden" name="Body" value="@Model.Body" />
            <input type="hidden" name="Id" value="@Model.Id" />

            <button type="submit" class="btn btn-primary">Enviar Resposta</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('[name="AnswerForm"]').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Answer/CreateAnswer",
                type: "post",
                data: $('[name="AnswerForm"]').serialize(),
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                success: function (response) {
                    setTimeout(function () {
                        response.redirectToUrl = response.redirectToUrl.replace('%2F', '/');
                        response.redirectToUrl = response.redirectToUrl.replace('%3F', '?');
                        response.redirectToUrl = response.redirectToUrl.replace('%3D', '=');
                        response.redirectToUrl = response.redirectToUrl.replace('%26', '&');
                        response.redirectToUrl = response.redirectToUrl.replace('%3D', '=');
                        //console.log(response);
                        localStorage.removeItem('alert-answer-success');
                        localStorage.setItem('alert-answer-success', 'A Resposta foi enviada.');
                        window.location.href = response.redirectToUrl;
                    }, 200);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr["error"]('Erro ao efetuar a operação, tente novamente. Caso o erro persista entre em contato com o administrador do sistema', 'Erro');
                    console.log(textStatus, errorThrown);
                }
            });
        });
    });

</script>