@{
    ViewData["Title"] = "Pergunta";
}

<div class="row">
    <a style="margin-left: -30px; cursor: pointer;" class="nav-link text-dark" onclick="window.history.go(-1); return false;"><b style="color:blue">Voltar</b></a>
</div>
<br />
<div class="row">
    <div class="col-12">
        <h4>Faça uma pergunta pública</h4>
    </div>
    <div class="col-12">
        <br />
        <form name="QuestionForm">
            <div class="form-group">
                <label for="inputTitulo">Título</label>
                <input type="text" class="form-control" id="inputTitulo"
                       placeholder="Qual sua pergunta de programação? Seja específico." 
                       name="Title"
                       required>
            </div>
            <div class="form-group">
                <label for="inputCorpo">Corpo</label>
                <textarea class="form-control"  rows="10" 
                          id="inputCorpo" 
                          name="Body"
                          required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar Pergunta</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('[name="QuestionForm"]').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Question/CreateQuestion",
                type: "post",
                data: $('[name="QuestionForm"]').serialize(),
                dataType: 'json',
                contentType: "application/x-www-form-urlencoded",
                success: function (response) {
                    setTimeout(function () {
                        response.redirectToUrl = response.redirectToUrl.replace('%2F', '/');
                        response.redirectToUrl = response.redirectToUrl.replace('%3F', '?');
                        response.redirectToUrl = response.redirectToUrl.replace('%3D', '=');
                        response.redirectToUrl = response.redirectToUrl.replace('%26', '&');
                        response.redirectToUrl = response.redirectToUrl.replace('%3D', '=');
                        //console.log(response);
                        localStorage.removeItem('alert-question-success');
                        localStorage.setItem('alert-question-success', 'A Pergunta foi enviada.');
                        window.location.href = response.redirectToUrl;
                    }, 200);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr["error"]('Erro ao efetuar a operação, tente novamente. Caso o erro persista entre em contato com o administrador do sistema', 'Erro');
                    console.log(textStatus, errorThrown);
                }
            });
        });
    });

</script>