@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="row">
    <div class="col-4">
        <h4>Explore nossas perguntas</h4>
    </div>
    <div class="col-8">
        <div class="text-right">
            <a class="btn btn-primary" asp-area="" asp-controller="Question" asp-action="Index">Faça uma pergunta</a>
        </div>
    </div>
</div>
